
/***********
 * Header *
 **********/

header img#header-img {
    border-radius: 10px;
}

/***********
 * Buttons *
 ***********/

div.button {
    padding: 10px;
    border-radius: 10px;
}
div.button-image {
    position: relative;
}
div.button p.button-text {
    margin-top: 5px;
    margin-bottom: 5px;
}
div.button .new-label {
    display:none;
    position: absolute;
    right: 0;
    bottom: -5px;
}
div.button.new .new-label {
    display: inline;
}

div.button.playing {
    background-color: orange;
    -webkit-animation-name: btnHL; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: btnHL;
    animation-duration: 2s;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes btnHL {
    from {background-color: white;}
    to {background-color: orange;}
}
/* Standard syntax */
@keyframes btnHL {
    from {background-color: white;}
    to {background-color: orange;}
}
